<!-- TODO: replace the contents of this file with your own html -->
<!--
<div class="palm-hasheader">
    <div class="palm-header">
        饭 否
    </div>
</div>
<div class="palm-header-spacer"></div>
-->
<div class="palm-group">
    <div class="palm-group-title">
        <span x-mojo-loc="">帐号</span>
    </div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div id="textField" name="textField"  x-mojo-element="TextField"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
    <div class="palm-group-title">
        <span x-mojo-loc="">密码</span>
    </div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div id="passwordField" x-mojo-element="PasswordField"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div x-mojo-element="Button" id="id-auth-button" name="auth-button"></div>
