<div id="id_header_title" class="palm-hasheader">
	<div class="palm-header" id="id_main_hdr">
	</div>
</div>
<div class="palm-group">
    <div class="palm-group-title">
        <span x-mojo-loc="" id="id_title"></span>
    </div>
    <div class="palm-list">
        <div class="palm-row single">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div id="textField" name="textField"  x-mojo-element="TextField"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div x-mojo-element="Button" id="id_select_img"></div>
<div x-mojo-element="Button" id="id_send_status"></div> -->
<div id="selection">
        
</div>