/* TODO: put your application-specific CSS here */
.my_custom_spinner{
    position: absolute;
    top: 220px;
    left: 50%;
    margin-left: -64px;
    margin-top:-64px;
}
#id_my_spinner_in_header{
    position: relative;
    z-index: 99999;
}